.attribution {
  font-size : 11px;
  text-align : center;
}

.attribution a {
  color : hsl(228, 45%, 44%);
}
 
body {
  font-size : 18px;
  font-family : "Public Sans";
  font-weight : 300;
}

header { 
  display : flex;
  justify-content : center;
  align-items : center; 
}

.header-container {
  width : 100%;
  /* border-bottom: 5px solid black; */
  background-color : white;
  min-height : 80px;
  margin : auto;
  display : flex;
  justify-content : space-around;
  align-items : center;
  flex-wrap : wrap;
  
}

header .image {
  align-self : center;
  margin-top : 15px;
  width : 180px;
  margin : 0px 25px 0px 20px;
}

header ul {
  width : 100%;
  height:100px;  
  display : flex;
  justify-content : space-around;
  margin : 0px;
  padding : 0px;
  list-style-type : none;
  align-self : center;
}

header li { 
  font-size : 16px; 
  margin-top:15px;
  padding : 20px 10px 20px 20px;
}

#nav-bar-main a:hover{
  border-bottom: 5px solid transparent;
  border-bottom-left-radius: 50%;
  border-image: linear-gradient(to right,hsl(136, 65%, 51%),hsl(192, 70%, 51%));;
  border-image-slice: 1;  
  box-sizing: content-box;
}

#nav-bar-main a{
  font-size: 18px;
  font-weight: 400; 
  color : grey;    
  padding : 40px 10px;
  text-decoration : none;
}
#nav-bar-main li:hover a{
    color :black;
    cursor : pointer;      
}

#nav-bar {
  display : none;
}

header .nav-popup {
  display : none;
}

header button {
  margin : 20px 10px;
  color : white;
  padding : 0px;
  background-image : linear-gradient(to right,hsl(136, 65%, 51%),hsl(192, 70%, 51%));
  font-size : 16px;
  height : 50px;
  width : 180px;
  border : none;
  border-radius : 50px 50px 50px 50px;
}

header button:hover{    
    box-shadow: 0px 2px 30px white inset;
    cursor : pointer;
}

/* showcase */
.one {
  min-height : 650px;
  background-color : #fafafa;
  background-image : url("./images/image-mockups.png"),
    url("./images/bg-intro-desktop.svg");
  background-position : right -130px top -135px, right -400px top -245px;
  background-repeat : no-repeat;
  background-size : 760px, 1180px;
  overflow : hidden;
}

.showcase {
  width : 80%;
  min-height : 600px;
  margin : auto;
  display : flex;
  justify-content : flex-start;
  align-items : center;
  flex-wrap : wrap;
}

.digital-banking {
  width : 35%;
  min-width : 500px;
  display : flex;
  justify-content : flex-start;
  flex-direction : column;
  align-items : flex-start;
  flex-wrap : wrap;
}

.digital-banking h1 {
  margin-bottom : 15px;
  color : #2c2d49;
  font-size : 55px;
  font-weight : 300;
}

.digital-banking p {
  margin : 5px;
  color : grey;
  font-size : 18px;
  line-height : 25px;
}

.digital-banking button {
  margin-top : 30px;
  color : white;
  padding : 0px;
  background-image : linear-gradient(to right,hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  font-size : 16px;
  height : 50px;
  width : 180px;
  border : none;
  border-radius : 50px 50px 50px 50px;
}

.digital-banking button:hover{
  box-shadow: 0px 2px 30px white inset;
  cursor : pointer;
}


.two {
  width : 100%;
  background-color : #f4f5f7;
  background-image : url("./images/image-mockups.png");
  background-repeat : no-repeat;
  background-position : right -130px top -780px;
  background-size : 760px;
  display : flex;
  justify-content : center;
  align-items : center;
}

.block-two-container {
  width : 80%;
  margin : auto;
  display : flex;
  justify-content : space-between;
  flex-direction : column;
  align-items : flex-start;
}

.question-container {
  margin-top : 50px;
  width : 100%;
  height : 300px;
  display : flex;
  justify-content : flex-start;
  flex-direction : column;
  align-items : flex-start;
}

.question-container h1 {
  font-weight : 300;
  font-size : 45px;
}

.question-container p {
  width : 640px;
  font-size : 18px;
  margin : 5px;
  color : grey;
  line-height : 25px;
}

.features {
  width : 100%;
  display : flex;
  justify-content : space-between;
}

.features #block {
  width : 300px;
  height : 400px;
  margin-right : 15px;
  display : flex;
  justify-content : flex-start;
  flex-direction : column;
  align-items : flex-start;
}

.features #block:hover{
    font-weight: 400;
    cursor : pointer;
}

.features h3 {
  margin-top : 40px;
  font-size : 20px;
  font-weight : 300;
  color : #353541;
}

.features p {
  font-size : 16px;
  height : 40px;
  color : grey;
  max-width : 300px;
  line-height : 22px;
}

.three {
  width : 100%;
  background-color : #fafafa;
  display : flex;
  justify-content : center;
  align-items : center;
  padding : 50px 0px 130px 0px;
}

.block-three-container {
  width : 80%;
  margin : auto;
  display : flex;
  justify-content : center;
  flex-direction : column;
  align-items : flex-start;
}

.block-three-container h3 {
  font-weight : 300;
  font-size : 45px;
  color : #313447;
}

.articles {
  width : 100%;
  min-width : 260px;
  display : flex;
  justify-content : space-between;
}

.articles #portrait {
  width : 300px;
  height : 450px;
  display : flex;
  justify-self : center;
  flex-direction : column;
  align-items : center;
  background-color : white;
  margin : 50px 0px 50px 0px;
  border-radius : 10px;
}

/* .articles #portrait:hover {
  width:300px;
} */

.articles .image {
  width : 100%;
  height : 50%;
  border-radius : 10px 10px 0px 0px;
}

.articles .bottom-block {
  width : 90%;
  margin : auto;
  display : flex;
  justify-content : center;
  flex-direction : column;
  align-items : flex-start;
}

.articles .bottom-block:hover{
    font-weight: 400;
}

.articles h4 {
  font-weight : 300;
  margin : 0;
  color : #2b2b35;
}

.articles h4:hover{
  cursor: pointer;
  color: rgb(61, 155, 61);;
}

.articles .credits {
  margin-top : 30px;
  font-size : 10px;
  color : grey;
}

.articles .description {
  line-height : 25px;
  font-size : 16px;
  color : #969698;
}

/* footer styles */
footer {
  width : 100%;
  background-color: #2d314e;
  display : flex;
  justify-content : center;
  align-items : center;
  padding : 20px 0px 20px 0px;
}

.footer-container {
  width : 80%;
  margin : auto;
  display : flex;
  justify-content : space-between;
}

.footer-container .column-container {
  display : flex;
  justify-content : space-between;
}

.footer-container .column {
  display : flex;
  justify-content : space-around;
  flex-direction : column;
  align-items : center;
}

.footer-container .column-two {
  width : 400px;
  display : flex;
  justify-content : space-between;
}

/* changes the logo color */
.logo-container .logo {
  fill : #fafafa;  
}

.logo-container{
    margin-left : 50px;
}

.social-media {
  width : 160px;
  margin-top : 10px;
  display : flex;
  justify-content : space-between;
}

.social-media path:hover{
  fill:hsl(136, 65%, 51%);
  cursor: pointer;
}

.footer-container .column-two .list {
  display : flex;
  justify-content : space-around;
  flex-direction : column;
  margin : 0px;
  padding : 0px;
  list-style-type : none;
  align-self : center;
}

.footer-container .column-two .list li {
  margin : 0;
  font-size : 16px;
  padding : 10px 10px 10px 20px;
}

.footer-container .column-two .list li a {
  color : white;
  font-size : 15px;
  text-decoration : none;
}
.footer-container .column-two .list li a:hover {
  color : rgb(61, 155, 61);
  font-size : 15px;
  text-decoration : none;
}

.footer-container button {
  margin-top : 10px;
  color : white;
  padding : 0px;
  background-image : linear-gradient(to right,hsl(136, 65%, 51%),hsl(192, 70%, 51%));
  font-size : 15px;
  height : 40px;
  width : 150px;
  border : none;
  border-radius : 50px 50px 50px 50px;
}

.footer-container button:hover {
  box-shadow: 0px 2px 30px white inset;
  cursor : pointer;
}


.footer-container .copyright {
  font-size : 15px;
  color : #7e8099;
}

@media only screen and (max-width: 1250px) {
  .header-container {
    width : 100%;
    display : flex;
    justify-content : center;
    flex-direction : column;
    align-items : center;
  }

  .one {
    background-image : url("images/image-mockups.png"),
      url("images/bg-intro-desktop.svg");
    background-repeat : no-repeat;
    background-position : right -100px top -150px, right -130px top -100px;
    background-size : 600px, 750px;
  }

  .showcase {
    display : flex;
    height : 100%;
    justify-content : start;
    align-items : center;
  }

  .showcase h1 {
    font-size : 40px;
    width : 400px;
  }

  .showcase p {
    font-size : 16px;
    width : 400px;
  }

  .two {
    background-image : none;
    flex-wrap : wrap;
  }

  .question-container h1 {
    font-size : 40px;
  }

  .question-container p {
    font-size : 16px;
  }
  .features {
    min-width : 260px;
    flex-wrap : wrap;
  }

  .three {
    flex-wrap : wrap;
  }
  .articles {
    min-width : 260px;
    flex-wrap : wrap;
  }

  .articles h4 {
    font-size : 18px;
  }

  .articles p {
    font-size : 16px;
  }

  .footer-container .column-two {
    justify-content : space-around;
  }

  .footer-container .copyright {
    font-size : 12px;
  }
}

@media only screen and (max-width: 1050px) {
  .one {
    background-image : url("images/image-mockups.png"),
      url("images/bg-intro-desktop.svg");
    background-repeat : no-repeat;
    background-position : right -100px top -150px, right -130px top -100px;
    background-size : 500px, 650px;
  }
}

@media only screen and (max-width: 850px) {
  .one {
    height: 500px;
    background-image : url("images/image-mockups.png"),
      url("images/bg-intro-desktop.svg");
    background-repeat : no-repeat;
    background-position : center top -150px, center top -250px;
    background-size : 400px, 650px;
    padding-bottom : 100px;
  }
  .showcase {
    justify-content : flex-start;
    align-items : flex-end;
  }

  .question-container p {
    width : 400px;
  }

  .list li a{
    font-size : 8px;
    margin : 10px 0px 10px 0px;
  }
  
  .column-two{
    margin : 0px 0px 20px 0px;
  }

  .social-media{
    margin : 20px 0px 20px 0px;
    width: 200px;
  }

  .social-media image{
    width : 80%;
    margin: 10px 10px 10px 10px;
  }

  footer .copyright{
    font-size : 10px;
  }

  footer .footer-container{
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}

  

@media only screen and (max-width: 550px) {
  body {
    display : flex;
    flex-direction : column;
  }

  header {
    width : 100%;
    display : flex;
    justify-content : flex-start;
  }

  .header-container {
    width : 100%;
    margin : auto;
    display : flex;
    justify-content : space-around;
    flex-direction : row;
    align-items : flex-start;
    flex-wrap : wrap;
  }

  .header-container .image {
    width : 150px;
  }

  #nav-bar-main {
    display : none;
  }

  #nav-bar {
    display : block;  
      
  }

  #nav-bar ul {
    display : flex;
    position : absolute;
    width : 180px;
    right : 0px;
    flex-direction : column;
    background-color : white;
    margin-top : 80px;
    justify-content : center;
    align-self : center;
    padding : 0px 0px 0px 40px;
    width:200px;
    height : 400px;
  }

  .header-container ul a {
    color : green;
  }

  .header-container button {
    display : none;
  }

  header .nav-popup {
    display : flex;
    padding-top : 30px;
  }

  .one {
    width : 100%;
    background-image : url("images/image-mockups.png"),
      url("images/bg-intro-mobile.svg");
    background-position : center top -155px, center top -100px;
    background-repeat : no-repeat;
    background-size : 430px, 550px;
    display : flex;
    justify-self : center;
    align-items : center;
  }

  .showcase {
    display : flex;
    justify-content : center;
    align-items : flex-end;
  }

  .showcase .digital-banking {
    margin : 400px 0px 100px 0px;

    display : flex;
    align-items : center;
  }

  .digital-banking h1 {
    width : 340px;
    font-size : 42px;
    text-align : center;
  }

  .digital-banking p {
    width : 340px;
    font : size 18px;
    line-height : 30px;
    text-align : center;
  }

  .two {
    width : 100%;
    background-image : none;
  }
  .block-two-container {
    width : 80%;
    display : flex;
    justify-content : flex-start;
    align-items : center;
  }

  .question-container {
    display : flex;
    align-items : center;
  }

  .question-container h1 {
    width : 300px;
    font-size : 40px;
    text-align : center;
  }

  .question-container p {
    width : 300px;
    font-size : 18px;
    line-height : 30px;
    text-align : center;
  }

  .features {
    display : flex;
    justify-content : space-between;
    flex-direction : column;
    align-items : center;
    margin : 80px 0px 40px 0px;
  }

  .features #block {
    display : flex;
    align-items : center;
    text-align : center;
  }

  .features h3 {
    font-size : 25px;
  }

  .features p {
    font-size : 18px;
    line-height : 30px;
  }
  .three {
    width : 100%;
    display : flex;
    align-items : center;
    
  }

  .block-three-container {
    display : flex;
    justify-content : center;
    align-items : center;
    margin-top : 50px;
  }

  .block-three-container h3 {
    font-size : 40px;
    text-align : center;
  }
  .three .articles {
    display : flex;
    justify-content : space-between;
    flex-direction : column;
    align-items : center;
  }

  .articles #portrait {
    width : 100%;
    max-width : 400px;
    margin-top : 10px;
    border-radius : 20px;
  }

  .articles .image {
    height : 50%;
    border-radius : 10px 10px 0px 0px;
  }
  .bottom-block {
    font-size : 18px;
    font-weight : 300;
    line-height : 22px;
  }
  .bottom-block h4 {
    font-size : 18px;
    font-weight : 300;
  }

  .bottom-block p {
    font-size : 13.5px;
  }

  .footer-container {
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
  }

  .footer-container .column-two {
    display : flex;
    flex-direction : column;
    justify-content : center;
  }

  .footer-container .column {
    display : flex;
    justify-content : center;
    align-items : center;
  }
  .footer-container ul {
    display : flex;
    justify-content : center;
    align-items : center;
  }

  .column svg {
    align-self : center;
    margin : 20px 0px 20px 50px;
  }
}
